.App {
  text-align: center;
}

.App nav{
  background-color: black;
  padding: 5px;
  color: lightblue;
}
.App nav h5{
  font-size: 30px;
 margin: 10px;
}

.ToDoItem{
  background-color:black;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
  /* display: block; */
  margin-top: 10px;
  width: 23%;
  margin-left: 38%;
  
  
}
.ToDoItem label span{
  font-weight: bolder
}

.ToDoItem:hover{
  font-size: 17px;
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.5s;
  border-radius: 5px;
}
.buttonLog{
  text-align: right;
  margin-bottom: 20px;

}
.buttonLog button{
  background-color:black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.buttonLog button:hover{
  background-color: whitesmoke;
  color: black;
  padding: 11px;
  transition-duration: 0.5s;

}
.fetchingJob{
  background-color: orange;
  padding: 20px;
  font-size: 20px;
  color: white;
}
.VoteItem{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 30%;
  padding: 5px;
  background-color: rgb(216, 216, 216);
  margin-left: 35%;
  
}
.VoteItem:hover{
  background-color: rgb(201, 201, 201);
  transform: scale(1.1);
  transition-duration: 0.2s;

}
.ItemName{
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-right: 10px;
}
.VoteItem button:hover{
  background-color: green;
  transition-duration: 0.8s;
}